<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap" rel="stylesheet">

    <title>Validador de CPF com CPF validado</title>

    <link rel="stylesheet" type="text/css" href="/style/index.css">

</head>

<body>
    <main>
        <h1>Validador de <b>CPF<b></h1>

        
            <div th:if="${verdade}" class="alert alert-success" role="alert">Foi validado com sucesso</div>
            <div th:unless="${verdade}" class="alert alert-danger" role="alert">Não validado</div>

            <form action="/" method="GET">
            <input type="submit" value="Voltar" src="/index">
            </form>

    </main>

    <section class="images">
        <img src="/assets/img1.svg" alt="" width="80%">
    </section>


    

    
</body>
</html>